.book-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./media/banner.jpg");
  color: white;
  width: 100%;
  font-size: 18px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.chip {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  background-color: #717171;
  margin: 5px 10px;
}

.author-link {
  display: flex;
  width: 300px;
  margin: 40px;
  flex-direction: column;
  text-decoration: none;
  padding: 0;
  background-color: white;
  color: black;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  border: 10px solid #654321;
}

.author-link img {
  max-width: 300px;
}
