.filters {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.filter-block {
  width: 640px;
}

.filter-block button {
  width: 90px;
  margin-right: 10px;
}

.filter-block h4 {
  width: 200px;
}

.dropdown {
  width: 250px;
}
