.spacer {
  margin-left: 10px;
}

.result-link {
  font-size: 24px;
}

.result-image {
  width: 100px;
  margin-right: 10px;
}

.attr-item {
  width: 300px;
}

.score-text {
  font-size: 14px;
  margin-bottom: 30px;
}
